.box1{
    background-color:#f44336;
    color:white;
    border-radius: 2px;
    height: 55px;
   margin-top: 10%;
    box-sizing:border-box;
    -webkit-transition:0.7s;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.24);
    
}

.rating{
    background-color:#f44336;
    color:white;
    width:170%;
    height:7%;
    font-size:70%;
  
    border-radius:100%;
    line-height: 220%;
    padding-left: 35%;
    padding-top: 5%;
    font-family: "Open Sans";
}
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.signup-panel .button{
    background-color: purple;
}
.tb{
    background-color:transparent;
    <!--box-shadow: 0px 8px 6px -4px #999;-->
}
.tb h1 a{
    margin-top: 5%;
    font-size: 150%;
}
.top-bar-section li:not(.has-form) a:not(.button){
    -webkit-transition: 0.7s;
    background-color:transparent;
    color: #fff;
 
}
.top-bar-section li:not(.has-form) a:not(.button):hover{
     -webkit-transition: 0.7s;
   background-color: transparent;
     color: #fff;
    
  
}

.top-bar-section ul li{
   background-color: transparent;
    
}
.top li:not(.has-form) a:not(.button){
    background-color:transparent;

 
}
.top li:not(.has-form) a:not(.button):hover{
   background-color: transparent;
  
}
.top ul li{
   background-color: transparent;
    margin-top:5%;
        
}

.menu{
    width:auto;
    margin-top: 2%;
}

.tabs dd{
   
    max-width: 500%;
    position: relative;
    width:490%;
    margin-top: 0;
    height: 11%;
    
}
.tabs dd > a, .tab-title > a
{
     font-family: "Open Sans";
  
    height:auto;
    width:auto;
    padding-top: 10%;
    
   
    
    
}


.tabs, .tabs pill{
    opacity: 0.7;
    height: auto;
        position: relative;
    background-color:#BDBDBD;
   width: 100%;
}
.tabs dd >a{
    height: 100%;
    font-size: 95%;
    width: 100%;
  
}
.off{

    margin-top: 0%;
    max-width: 100%;
   height: 80%;
    border-bottom-style: solid;
    border-bottom: thick;
    border-bottom-color: #E0E0E0;
    border-bottom-width: thick;
    background-image: url(http://localhost/offermama/app/offers/images/rest.jpg);
    background-size:auto;
    z-index: 99;

  
  
}

.wall::-webkit-scrollbar{
    width:6px;
    background-color:#eff6f9;
}
.wall::-webkit-scrollbar-thumb{
    width:6px;
    background-color:#BDBDBD;
    border-radius:5px;
}
.p2p::-webkit-scrollbar{
    width:6px;
    background-color:#eff6f9;
}
.p2p::-webkit-scrollbar-thumb{
    width:6px;
    background-color:#e1e1e1;
    border-radius:10px;
}
.tabs dd > a.active_category{
    background-color:#e1e1e1;
}
.offer{
    cursor:default;
    margin:2%;
    background-color: #eff6f9;
    box-shadow: 0px 4px 8px 0.2px #999;
    border-style: none;
}
.offer:hover{
    cursor:hand;
	background-color:#eff6f9;
}
#submit_btn{
    background-color:purple;
    color:white;
}
.poffer:hover{
    cursor:hand;
	background-color:#eff6f9;
}
.poffer{
   cursor:default;
    margin:2%;
    background-color: #eff6f9;
    box-shadow: 0px 4px 8px 0.2px #999;
}

.wall{
	height:80%;
    overflow-y:auto;
	background-color:#efefef;
    opacity: 0.9;
    margin-left: 5%;
    border-bottom:thick solid;
        border-bottom-color: #BFBFBF;
    position: relative;
    width:100%;
}

.p2p{
	width: 21%;
    height:70%;
    
    margin-top: 2%;
    margin-left: 0%;
    overflow-y:auto;
	background-color:#eff6f9;
    opacity: 1;
    border-radius:5px;
    position: fixed;
}
.maincategory{
	border-radius:15;
}
.signup-panel {
  /*border-radius: 5px;*/
 /* border: 1px solid #ccc;*/
margin-left:20%;
    
    
    
    
}
.signup-panel i {
  font-size: 30px;
  line-height: 35px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 40px;
    border-radius: 6px;
    margin-top: 5px;
}
.welcome {
    font-family: "Open Sans";
     width: 100%;
    margin-top: 5%;
  font-size: 35px;
    font-weight: 200;

    margin-left:6%;
    
    color: white;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  margin-left: 30%;
}
.signup-panel .button {
  left: 35%;
    

}
.row1{
    margin-top:0%;
}
.buton{
      width:30%;
    margin-left: 38%;
    
    
}
.buton_login{
      width:40%;
    margin-left: 22%;
   
    
}

 .top-bar-reg{
            left: 0;
  position: relative;
  width: auto;
  transition: left 300ms ease-out;
 }
  
  <!--    .top-bar- ul {
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    font-size: 16px;
    margin: 0;
        }-->
        
        .top-bar-reg ul li:not(.has-form) a:not(.button){
    background-color:#fff;
        border-style:none;}
       
        .top-bar-reg ul li:not(.has-form) a:not(.button):hover{
    background-color:#f44336;
            opacity:90%;
    color:#fff;
  }
.top-bar-reg ul li:not(.has-form) a:not(.button){
    color: #243456;
}
.reg{
    color: white;
    font-family: "Open Sans";
    font-size-adjust: auto;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10%;
        
}
.reg a
{
    color:#1E88E5;
    font-weight: 500;
}
.login{
        width: 150%;
    margin-left: -15%;
}
.login p{
        font-family: "Open Sans";
        font-size: 15px;
        font-size-adjust: auto;
        color: #fff;
    font-weight: 400;
    margin-top: 10%;
    margin-left: 10%;
}
.login_bg{
 background-color:#4FC3F7;
}
.login p a{
    color: #0D47A1;
}
.login p
{
    font-size: 110%;
}
 .top-bar-login{
            left: 0;
  position: relative;
  width: auto;
  transition: left 300ms ease-out; }
.top-bar-login ul li:not(.has-form) a:not(.button){
    color: #0D47A1;
}
  
          .top-bar-login ul li:not(.has-form) a:not(.button){
              -webkit-transition: 0.7s;
    background-color:#fff;
        border-style:none;}
       
        .top-bar-login ul li:not(.has-form) a:not(.button):hover{
             -webkit-transition: 0.7s;
    background-color:#0D47A1;
            opacity:90%;
    color:#fff;
  }
.box_login{
        background-color: #0D47A1;
        height:7%;
        color:#fff;
     font-size: 80%;
    line-height: 47%;
  padding-left: 22%;
    font-family: "Roboto";
    width:90%;
    border-radius: 2px;
   
    -webkit-transition: 0.7s;
    box-shadow:0px 2px 5px 0px rgba(0,0,0,0.24);
  }





.row .tb{
   
    background-color:#E0E0E0 ;
    opacity:1;
    position: relative; 
}
.row .top-bar-section li:not(.has-form){
    background-color:#E0E0E0 ;
}
.row .top-bar-section li:not(.has-form) a:not(.button):hover{
   background-color: #E0E0E0 ;
    color: #638AC1;
  
}
.row .top-bar-section ul li{
   background-color: #EEEEEE;
}
.row .top-bar-section li:not(.has-form) a:not(.button){
    color: #638AC1;
}
.off .row h5{
    font-family: "Roboto";
    font-style: oblique;
    
}
.off .row {
    background-image: none;
    width: 100%;
    height:auto;
    background-color:#eff6f9;
  
 
    
}
#mini_bar
{
    margin-left: 5%;
    margin-top: 3%;
    opacity: 0;
    width: 100%;
    position: relative;
}

#B123 a{
    font-family: "Open Sans";
    color:#0D47A1;
    font-size: 100%;
}
.no-of-recommends{
    font-family: "Open Sans";
    padding-right: 10%;
}
.no-of-unrecommends{
    font-family: "Open Sans";
    padding-left: 80%;
}
.pic{
   
    width: 50%;
 height:100%;
}
.amount{
    margin-left: 5%;
    width:10%;
   
}
.like-button a{
    font-family: "Open Sans";
    color:#0D47A1;
}
.index h1{
opacity:0;
}
sup{
    font-size: 60%;
    font-family: "Open Sans";
    font-size-adjust: auto;
}
.index{
    width: 110%;
    opacity: 1;
      color: #4B77BE;
}
.index img
{
    margin-top: -12%;
    margin-left: 0;
    box-shadow: 1.2px 1.2px 6px 0.085px #605c5c;
    border-radius: 10%;
    z-index: 100;
    opacity: 0;
  
}
#paperwall{
background-image: url(../../app/offers/images/OfferMama_Start_Page.JPG);
    background-size: cover;
    
}
#paperwall .row{
    background-image: none;
}
#paperwall .wall 
{
    opacity: 0;
}
#paperwall .p2p{
opacity: 0;
}
.off .large-4{
    left:-5%;
    height:70%;
    width:21%;

}
.form_container_user_ad{
margin-top: 3%;
}
#textarea{
    
    background-color: #fff;
    border-radius: 2px;
box-shadow: 0px 2px 5px rgba(0,0,0,0.30);
   
}
#textarea_feedback{
    margin-top: 1%;
  color: #fff;
    font-family: "Roboto";
    font-style: oblique;
    font-weight: normal;
}
.category{
   font-family: "Open Sans";
    color:#fff;
    font-size: 100%;
}
.category1{

font-size: 90%;
}
.mrprate input{
border-radius: 2px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.30);
}
.sprate input{
border-radius: 2px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.30);
}
.sell{
border-radius: 2px;
 -webkit-transition: all 0.3s;
    box-shadow:  0px 2px 5px rgba(0,0,0,0.30);
}
#submit_btn{
background-color: #FBC02D;
   
}
.sell:hover{
    -webkit-transition: all 0.3s;
box-shadow: none;
}
.sell_tb{
     background-color:transparent;

}
.sell_tb .name h1 a{
margin-top: 2%;
    font-size: 150%;
    font-family: "Open Sans";
}
.sell_section li:not(.has-form) a:not(.button){
    -webkit-transition: 0.7s;
    background-color:transparent;
    color: #fff;
 
}
.sell_section li:not(.has-form) a:not(.button):hover{
    -webkit-transition: 0.7s;
   background-color: #fff;
     color: #7986CB;
    
  
}
.sell_section ul li{
   background-color: transparent;
    margin-top:2%;
        
}

.profile{
    height:10%;
background-color: #757575;
background:linear-gradient(#757575,transparent);
}
.prof{
    margin-top: 10%;
}
.prof dd{
      
            box-shadow:0px 2px 5px 0px rgba(0,0,0,0.50);
            opacity:1;
    height:10%;
}
.prof dd >a{
     color:#000;
    padding-top: 15%;
    opacity: 1;
}

